 *{
	margin:0;
	padding:0;
	font-family: "Trebuchet MS", Helvetica, sans-serif ;
	box-sizing: border-box;
}
body{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
		url(http://sound-of-passion.de/images/bg_pic2.jpg);;
	height: 100vh;
}

.navbar{
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: #330000;
	opacity: .6;
}
.navbar:hover{
    opacity: .8;
}

.home{
	float: left;
}

.home ul{
	list-style: none;
	padding: 1em 3em;
	margin-top: 10px;
}

.home ul li a{
	text-decoration: none;
	color: white;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	padding: 9px 16px;
	border: 2px solid white;
}

.home ul li a:hover{
	background-color: white;
	color: black;
}

.menu-button{
	background-color: transparent;
	color: white;
	padding: 9px 25px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	border: 2px solid white;
	margin-right: 50px;
	margin-top: 16px;
}

.right-menu{
	position: relative;
	display: inline-block;
	float:right;
}

.dropdown{
	display:none;
	position: absolute;
	background-color:  #f9f9f9;
	width: 177px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown a{
	color: black;
	padding: 12px 20px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover{
	background-color: black;
	color: white;
}

.right-menu:hover .dropdown{
	display: block;
}
.right-menu:hover .menu-button{
	background-color: black;
	color: white;
}

.review-title{
    color:white;
    font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
}

p, h2{
    color:white;
    padding: 10px;
    font-style: italic;
}

.review-container{
    width: 45vw;
    margin-top: 140px;
}

.review-container >* {
    background-color: grey;
    margin:5px 0 0 5px;
    border: 2px solid black;
    padding: 25px;
    margin-top: 20px;
    margin-left: 60px;
    opacity: .5
}

.review-container2{
    width: 46vw;
    margin-top: 140px;
    float:right;
    margin-right: 10px;
}

.review-container2 >* {
    margin:5px 0 0 5px;
    padding: 10px;
    margin-top: 20px;
}

#text-container >*{
    display: inline-block;
}

.links {
	width:500px;
	height:200px;
}

@media only screen and (max-width: 700px){
	#text-container{
		display: flex;
		flex-direction: column;
		margin: 50px;
		line-height: 50px;
	}
	.review-container{
    width: 80vw;
    margin-top: 140px;
    margin-left: 5px;
	}
}

